[General]
listen=tag05
fan_pin=14
webhook=https://your-webhook
tag_timeout=60
timeout_check_interval=10
temp_max=28
temp_min=27.9

[Tags]
tag_aq_white=CD:04:2A:92:2A:DD
tag_aq_green=F5:A2:32:52:CC:7F
tag01=C5:75:90:8A:30:9F
tag02=C7:91:70:43:5B:52
tag03=FB:D8:55:BE:DC:9A
tag04=DD:E5:D1:E6:2F:74
tag05=FA:E0:D7:09:77:42
tag06=EE:7B:38:67:AE:6B
tag07=F5:54:58:2D:F0:13

[tag01]
[tag02]
[tag03]
